@import "tailwindcss";
@font-face {
    font-family: 'IranSansMedium';
    src: url('./assets/fonts/Iran\ Sans.ttf')format('truetype');
    font-weight: '';
}
@font-face {
    font-family: 'IranSansBold';
    src: url('./assets/fonts/Vazirmatn-Medium.ttf')format('truetype');
    font-weight: bold;
}
.vazir-light{
    font-family: IranSansMedium;
}
.vazir-medium{
    font-family: IranSansBold;
}
#root {
    @apply w-full sm:w-[402px] mx-auto;
}
::-webkit-scrollbar {
    display: none;
}

button:hover, Link:hover, NavLink:hover, a:hover {
    @apply cursor-pointer;
}
@theme {
    --color-primary-blue: #006ecf;
    --color-main: #2C8073;
    --color-676767: #676767;
    --color-898989: #898989;
    --color-a7a7a7: #a7a7a7;
    --color-575757: #575757;
    --color-select: #2e7d32;
    --color-unselect: #555;
    --color-select-container: #e8f5e9;
    --color-unselect-container: #f0f0f0;
    --color-blue-main: #006ECF;
    --color-disable-container : #e0e0e0;
    --color-disable: #757575;
    --color-success: #28a745;
    --color-failed: #dc3545;
}
/* --------------------------------- */
.neck {
    width: 53%;
    height: 27%;
    clip-path: polygon(0% 100%, 35% 0%, 65% 0%, 100% 100%);
}
.neck-back {
    width: 53%;
    height: 37%;
    clip-path: polygon(0% 100%, 40% 0%, 60% 0%, 100% 100%);
}
/* --------------------------------- */
.lagan {
    z-index: 10;
    clip-path: polygon(0% 0%, 0% 60%, 40% 100%, 60% 100%, 100% 60%, 100% 0%);
}
.lagan-back {
    z-index: 10;
    clip-path: polygon(0% 0%, 0% 15%, 30% 30%, 50% 70%, 50% 70%, 70% 30%, 100% 15%, 100% 0%);
}
/* --------------------------------- */
.sagh-left {
    clip-path: polygon(20% 0%, 0% 40%, 30% 100%, 80% 100%, 100% 40%, 90% 0% );
}
.sagh-right {
    clip-path: polygon(10% 0%, 0% 30%, 30% 100%, 80% 100%, 100% 40%, 85% 0% );
}
/* --------------------------------- */
.thigh-right {
    border-radius: 0px 50% 0% 0%;
    clip-path: polygon(0% 0%, 0% 60%, 20% 100%, 95% 100%, 100% 0% );
}
.thigh-left {
    clip-path: polygon(10% 0%, 0% 60%, 3% 100%, 75% 100%, 120% 0% );
}
.thigh-left::after, .thigh-right::after {
    position: absolute;
    content: "";
    border: 10px solid #0000;
    top: 0;
}
.thigh-left::after{
    left: 15%;
    border-color: #0000 #0000 #0000 #0000;
}
.thigh-right::after{
    right: 19%;
    border-color: #0000 #0000 #0000 #0000;
}
/* --------------------------------- */
.hand-left{
    border-radius: 28% 80% 30% 70%;
}
.hand-right{
    border-radius: 70% 31% 70% 30%;
}
.hand-left::after, .hand-right::after {
    content: '';
    position: absolute;
    width: 59%;
    height: 20%;
    top: -12%;
    background-color: #0000;
}
.hand-left::after{
    left: 8%; 
    border-bottom-right-radius: 50%;
}
.hand-right::after{
    right: 9%; 
    border-bottom-left-radius: 50%;
}
/* ------------------------------- */
.ankle-left {
    clip-path: polygon(0% 0%,50% 0%, 100% 70%, 100% 100%, 10% 100%);
} 
.ankle-right {
    clip-path: polygon(50% 0%, 100% 0%, 90% 100%, 0% 100%, 0% 70%);
}
/* --------------------------------- */
.thigh-right-back {
    clip-path: polygon(10% 0%, 0% 100%, 20% 100%, 95% 100%, 75% 28% );
}
.thigh-left-back {
    clip-path: polygon(30% 20%, 0% 100%, 0% 100%, 100% 100%, 90% 0% );
}

/* --------------------------------- */